.div_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    text-align: center;
}

.par_ArrLocationAsk {
    font-size: xx-large;
    line-height:120%;
    color:midnightblue;
}

.btn_ArrLocationConfirm{
    margin-top:  10px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid midnightblue;
    color:midnightblue;
    font-size: 22px;
    width: 200px;
    height: 150px;
}
.btn_ArrLocationConfirm:hover{
    background-color: midnightblue;
    color:white;
}

.btn_ArrLocationConfirm:first-child{
    margin-right: 5px;
}