.div_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    text-align: center;
    font-size: 30px;
}

.location {
    margin: 3px 10px 10px 10px;
    background-color: rgba(230, 230, 230, 0.671);
    border-radius: 10px;
    border: none;
    width: 400px;
}

.location p {
    padding: 0px 40px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.location b {
    text-align: right;
} 


.btn_depLocationConfirm {
    margin: 5px 0px 10px;
    background-color: rgb(108, 184, 85);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 33px;
    width: 200px;
    height: 90px;
}

.btn_callTaxi {
    margin: 15px 0px 10px;
    background-color: rgb(108, 184, 85);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 33px;
    width: 400px;
    height: 100px;
}

.btn_shareHover:hover {
    background-color: rgb(27, 117, 49);
    color: white;
    cursor: pointer;
}

.btn_depLocationConfirm:first-child {
    margin-right: 5px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 9999;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
}