.div_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    text-align: center;
}

.par_depLocationAsk {
    font-size: 35px;
    line-height: 120%;
    margin: 10px;
}

.location {
    margin: 3px 10px 10px 10px;
    background-color: rgba(230, 230, 230, 0.671);
    border-radius: 10px;
    border: none;
    width: 400px;
    font-size: 10px;
}

.btn_depLocationConfirm{
    margin: 10px 0px 10px;
    background-color: rgb(108, 184, 85);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 26px;
    width: 200px;
    height: 120px;
}

.btn_depLocationConfirm:hover{
    background-color: rgb(27, 117, 49);
    color: white;
    cursor: pointer;
}

.btn_depLocationConfirm:first-child{
    margin-right: 5px;
}