.logo {
    background-image: url(/src/logo.png);
    width: 200px;
    height: 200px;
    margin-top: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.input {
    box-sizing: border-box;
    margin: 25px 0px 10px 0px;
    border-radius: 5px;
    border: solid 1px;
    border-color: #999999;
    background-color: white;
    height: 60px;
    width: 400px;
    font-size: 30px;
    text-align: center;
    color: #343434;
}

.login_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sendBtn {
    height: 60px;
    width: 400px;
    border-radius: 5px;
    border: 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color:#13BC4D;
    color: white;
}
